body {
    background: #5fff79;
}

article {
    background: #c2fdd1;
}

.hotpink-header {
    color: hotpink;
}

#top {
    color: green;
    background: #093f7c6e;
}



nav a {
    color: azure;
}

.naglowek-po-klasie {
    color: pink;
}